/* html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#Frame {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 70%;

}

#Buildings {


} */


/* img {
    max-width: 100%;
} */


#Frame {

}

#Buildings {
    background-image: url("../img/Frame.svg");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 80%;


    height: 567px;
}
