/**
* Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}



html, body {
    margin: 0;
    padding: 0;
    background-color: #01B4FD;
    font-size: 16px;
    font-family: Arial;
}
img { width: 100%; height: 100%; }
input { padding: 0; border: 0; }
input[type=text] {
    color: rgba(255, 255, 255, 0.5);
}
textarea:focus, input:focus {
    outline: none;
}

/*
OnClick of the CTA button styling.
The CTA text fades out.
The CTA button also fades out.
----------------------------------------------------------------------------*/
.fadeOut {
    animation: fadeOut 0.5s forwards;
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/*
Parents

----------------------------------------------------------------------------- */
#page           { height: 100vh; }
#skylineWrapper { height: 20vh; }
#frameWrapper   { height: 50vh; }
#groundWrapper  { height: 30vh; }


#skylineWrapper {
    background-image: url("../img/Skyline.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
#frameWrapper   { position: relative; }
#groundWrapper  { position: relative; }



/*
Children

----------------------------------------------------------------------------- */
.frameInner {
    height: 135%;
    width: 75%;
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: translateX(-50%);
}

#ground { position: relative; z-index: 1; }

#ctaTxtWrapper {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
}

#ctaBtnWrapper {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

#emailForm {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
    display: flex;
    justify-content: center;
}

#txtIn6 {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
}

/*
Baby Children

----------------------------------------------------------------------------- */
#ctaBtn {
    background-color: #7F1BCE;
    border: 0px;
    border-radius: 50px;
    padding: 0.8em 2.2em;
    color: white;
    font-weight: bold;
}

/* The rectangle background with a round border at the corner. */
#txtEntryFieldWrapper {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 40px;
    padding: 10px 0px;
}

#sendBtn {
    font-weight: bold;
    background-color: #7F1BCE;
    color: white;
    border-radius: 40px;
    padding: 10px 0px;
}


/*
Baby baby Children

----------------------------------------------------------------------------- */
/* The actually input text that users enter their emails. */
#txtEntryField {
    background-color: rgba(255, 255, 255, 0);
    margin-left: 30px;
    line-height: 1;
}
#txtEntryField::placeholder { color: rgba(255, 255, 255, 0.5); }





/* ----------------------------------------------------------------------------

DESKTOP & TABLET SCREEN

----------------------------------------------------------------------------- */


/* Button animates to view 0.25s after CTA text animation is complete. */
#ctaBtn     { display: none; }

/* OnClick of the CTA button and form will show. */
#emailForm  { display: none; }

/* After the user types their email, the send button appears below the text entry field, to the right */
#sendBtn    { display: none; }

/*
Before users typing their emails.
The Rectangle & input is longer.
------------------------------------------------------------------------------*/
.txtEntryFieldWrapperBefore { width: 540px; }
.txtEntryFieldBefore        { width: 480px; }

/*
After users typing their emails.
The Rectangle & input is shorter and the SEND button is shown.
------------------------------------------------------------------------------*/
.txtEntryFieldWrapper   { width: 435px; margin-right: 5px; }
.txtEntryField          { width: 375px; }
#sendBtn                { width: 100px;  }












/*
Breakpoints

----------------------------------------------------------------------------- */
@media only screen and (max-width: 1300px) {
    .frameInner { height: 100%; }
}
/* Extra small devices (phones, equal or less than 768px) */
@media only screen and (max-width: 768px) {
    .frameInner             { height: 70%; width: 100%; }

    #ctaTxtWrapper, #txtIn6 { top: 0%; }
    #ctaBtnWrapper          { top: 40%; }
    #emailForm              { top: 40%; }

    #ctaBtn { padding: 0.8em 2em; }


    .txtEntryFieldWrapperBefore { width: 400px; }
    .txtEntryFieldBefore        { width: 360px; }
    .txtEntryFieldWrapper       { margin-right: 0px; }


    #sendBtn { margin: 14px auto 0; }


    #txtEntryField        { margin-left: 20px; }
}
/* Mobile screen */
@media only screen and (max-width: 480px) {
    .txtEntryFieldWrapperBefore { width: 300px; }
    .txtEntryFieldBefore        { width: 260px; }
}
