body {
    margin: 0;
    padding: 0;
    background: #01B4FD;
}

/* Full height viewport. */
body { height: 100vh; }
img  { width: 100%; }

.first, .second, .third { transition: all 0.5s ease; }

.site {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: auto;
}
.first {
    flex-basis: 40%;
    position: relative;
}
.second {
    flex-basis: 25%;
    position: relative;
}
.third {
    flex-basis: 35%;
    z-index: 2;
}
.first {
    background-image: url('../images/Skyline.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.second {

}
.third {
    background-image: url('../images/Ground.svg');
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.5s ease;
}
/*
Wrappers

----------------------------------------------------------------------------- */
.frameWrapper {
    width: 990px;
    position: absolute;

    left: 50%;
    transform: translate(-50%);
}
/*
Elements

----------------------------------------------------------------------------- */
.logo {
    position: relative;
    width: 60px;
}
/*
Breakpoints

----------------------------------------------------------------------------- */
@media only screen and (max-width: 992px) {
    .frameWrapper { max-width: 780px; }
}
@media only screen and (max-width: 768px) {
    .frameWrapper { max-width: 460px; }
}















/*
Responsive

----------------------------------------------------------------------------- */
.first        { top: -85px; }
.logo         { top: 100px; left: 15px;  }

.frameWrapper { top: -150px; }

/*
Breakpoints

----------------------------------------------------------------------------- */
@media only screen and (max-width: 992px) {
    .frameWrapper   { top: -80px; }
    .third          { background-position: top left -100px; }
}
@media only screen and (max-width: 768px) {
    .first          { top: -130px; }
    .logo           { top: 140px; left: 10px;  }

    .frameWrapper   { top: 44px; }

    .third          { background-position: top left -200px; }
}
@media only screen and (max-width: 480px) {

}
