body {
    margin: 0;
    padding: 0;
    background: #01B4FD;
    transition: all 0.2s ease;
    font-size: 16px;
}

/* Full height viewport. */
body { height: 100vh; width: 100vw; }
img  { width: 100%; height: auto; }

.site {
    overflow: hidden;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
}
.first {
    flex-basis: 35%;
    position: relative;
}
.second {
    flex-basis: 30%;
    position: relative;
}
.third {
    flex-basis: 35%;
    z-index: 2;
}
.first {
    background-image: url('../images/Skyline.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.second {

}
.third {
    background-image: url('../images/Ground.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
/*
Wrappers

----------------------------------------------------------------------------- */
.frameWrapper {
    position: absolute;

    left: 50%;
    transform: translate(-50%);
}

.frameWrapper       { display: block; }
.frameWrapperMobile { display: none; }
/*
Elements

----------------------------------------------------------------------------- */
.logo   { position: relative; }















/* -----------------------------------------------------------------------------

                                RESPONSIVE

----------------------------------------------------------------------------- */


.first            { top: -68px; }

.frameWrapper     { width: 990px; top: -120px; }

.logo             { width: 60px; top: 85px; left: 15px; }








/*
Landscape

----------------------------------------------------------------------------- */

/* Mobile Landscape */

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
@media only screen and (min-width: 414px) and (max-width: 736px) and (min-height: 414px) and (max-height: 600px) and (orientation: landscape) {
    .first        { top: -35px; }

    .frameWrapper { width: 560px; top: -70px; }
    .logo         { width: 40px; top: 45px; left: 10px; }
}


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
@media only screen and (min-width: 375px) and (max-width: 667px) and (min-height: 375px) and (orientation: landscape) {
    .first        { top: -30px; }

    .frameWrapper { width: 500px; top: -58px; }
    .logo         { width: 40px; top: 40px; left: 10px; }
}


/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
@media only screen and (min-width: 320px) and (max-width: 568px) and (min-height: 320px) and (orientation: landscape) {
    .first        { top: -30px; }

    .frameWrapper { width: 460px; top: -58px; }
    .logo         { width: 30px; top: 35px; left: 5px; }
}







/*
Portrait

----------------------------------------------------------------------------- */













/*

Mobile Portrait


------------------------------------------------------------------------------*/

@media only screen and (min-width: 319px) and (min-height: 479px) and (orientation: portrait) {
    .first  { top: -40px; }

    .first  { background-image: url("../images/MobileSkyline.svg"); }
    .second {}
    .third  { background-image: url("../images/MobileGround.svg"); }


    .frameWrapper           { display: none; }
    .frameWrapperMobile     { display: block; }



    .frameWrapperMobile {
        width: 360px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }

    .logo   { width: 60px; top: 55px; left: 15px; }
}



/* ----------- iPhone 4 and 4S ----------- */



/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
@media only screen and (min-width: 319px) and (min-height: 567px) and (orientation: portrait) {
    .frameWrapperMobile {
        width: 360px;
        top: -40px;
    }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
@media only screen and (min-width: 374px) and (min-height: 666px) and (orientation: portrait) {
    .frameWrapperMobile {
        width: 360px;
        top: -8px;
    }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
@media only screen and (min-width: 413px) and (min-height: 735px) and (orientation: portrait) {
    .frameWrapperMobile {
        width: 360px;
        top: 14px;
    }
}

/* ----------- iPhone X, Pixel 2 XL ----------- */
@media only screen and (min-width: 374px) and (min-height: 811px) and (orientation: portrait) {
    .frameWrapperMobile {
        width: 360px;
        top: 42px;
    }
}







/*

Tablet Portrait


------------------------------------------------------------------------------*/


/* iPad */
@media only screen and (min-width: 767px) and (min-height: 1023px) and (orientation: portrait) {
    .first  { top: -40px; }

    .first  { background-image: url("../images/MobileSkyline.svg"); }
    .second {}
    .third  { background-image: url("../images/MobileGround.svg"); }


    .frameWrapper           { display: none; }
    .frameWrapperMobile     { display: block; }



    .frameWrapperMobile {
        width: 640px;

        top: -60px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }

    .logo   { width: 80px; top: 55px; left: 15px; }
}


/* iPad Pro */
@media only screen and (min-width: 1023px) and (min-height: 1365px) and (orientation: portrait) {
    .first  { top: -40px; }

    .first  { background-image: url("../images/MobileSkyline.svg"); }
    .second {}
    .third  { background-image: url("../images/MobileGround.svg"); }


    .frameWrapper           { display: none; }
    .frameWrapperMobile     { display: block; }



    .frameWrapperMobile {
        width: 800px;

        top: -50px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }

    .logo   { width: 120px; top: 65px; left: 25px; }

}
