body {
    margin: 0;
    padding: 0;
    background: #01B4FD;
    transition: all 0.2s ease;
}

/* Full height viewport. */
body { height: 100vh; width: 100vw; }
img  { width: 100%; height: auto; }

.site {
    overflow: hidden;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
}
.first {
    flex-basis: 35%;
    position: relative;
}
.second {
    flex-basis: 30%;
    position: relative;
}
.third {
    flex-basis: 35%;
    z-index: 2;
}
.first {
    background-image: url('../images/Skyline.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.second {

}
.third {
    background-image: url('../images/Ground.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
/*
Wrappers

----------------------------------------------------------------------------- */
.frameWrapper {
    position: absolute;

    left: 50%;
    transform: translate(-50%);
}

.frameWrapper       { display: block; }
.frameWrapperMobile { display: none; }
/*
Elements

----------------------------------------------------------------------------- */
.logo   { position: relative; }
.cloud1 { position: absolute; z-index: 3; display: block; }
















































/* -----------------------------------------------------------------------------

                                RESPONSIVE

----------------------------------------------------------------------------- */

/*
Landscape

----------------------------------------------------------------------------- */
.first            { top: -72px; }
.frameWrapper     { width: 990px; top: 0; }
.logo             { width: 60px; top: 87px; left: 15px; }
.cloud1           { width: 200px; top: -50px; right: 50px; }
@media only screen and (max-width: 1024px) {
    .frameWrapper { width: 768px; }
    .third        { background-position: top left -200px; }
    .cloud1       { width: 160px; top: -30px; right: 20px; }
}







/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Landscape */
@media only screen and (min-width: 375px) and (max-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .first  { flex-basis: 30%; top: -20px; }
    .second { flex-basis: 35%; }
    .third  { flex-basis: 35%; }


    .first  { background-image: url("../images/Skyline.svg"); }
    .second {}
    .third  { background-image: url('../images/Ground.svg'); }

    .frameWrapper       { display: block; }
    .frameWrapperMobile { display: none; }


    .frameWrapper { width: 500px; }

    .logo { width: 35px; top: 30px; left: 10px; }
}








/* Mobile */
@media only screen and (max-width: 480px) {

    .first  { top: -40px; }
    .third  { background-position: top left; }




    .first  { background-image: url("../images/MobileSkyline.svg"); }
    .second {}
    .third  { background-image: url("../images/MobileGround.svg"); }


    .frameWrapper           { display: none; }
    .frameWrapperMobile     { display: block; }


    .frameWrapperMobile {
        width: 360px;
        position: absolute;

        top: 0px;
        left: 50%;
        transform: translate(-50%);
    }




    .logo   { top: 50px; left: 10px; }
    .cloud1 { display: none; }
}
