html, body {
    margin: 0;
    padding: 0;
    background: salmon;
    font-size: 16px;
}
textarea:focus, input:focus {
    outline: none;
}
.fadeOut {
    animation: fadeOut 1s forwards;
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


#textEntryField {
    background-color: rgb(255, 255, 255, 0.25);
    border-radius: 40px;
    width: 640px;
    padding: 8px 0;
    font-size: 22px;
    margin: 0 auto;
    display: block;
    visibility: hidden;
    border: 0;
}
#textEntryField::placeholder {
    color: rgb(255, 255, 255, 0.5);
    padding-left: 40px;
}




/* .fadeIn {
    animation: fadeIn 3s forwards;
}
@keyframes fadeIn {
    0% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
} */
