html, body {
    margin: 0;
    padding: 0;
    background: rgb(0, 154, 249);
    font-size: 16px;
}
input[type=text] {
    color: rgb(255, 255, 255, 0.5);
}
textarea:focus, input:focus {
    outline: none;
}
.fadeOut {
    animation: fadeOut 0.5s forwards;
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}




#textEntryFieldWrapper {
    visibility: hidden;
}


#textEntryFieldWrapper {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

















/* Second form */
#secondTextEntryFieldWrapper {
    background-color: rgb(255, 255, 255, 0.25);
    border-radius: 40px;
    padding: 8px 0px;
}
#secondTextEntryField {
    background-color: rgb(255, 255, 255, 0.1);
    border: 0px;
    font-size: 1.6vw;
    margin-left: 40px;
}
#secondTextEntryField::placeholder {
    color: rgb(255, 255, 255, 0.5);
}


/* Before users typing their emails */
.secondTextEntryFieldWrapperBefore {
    width: 640px;
}
.secondTextEntryFieldBefore {
    width: 560px;
}

/* After users typing their emails */
.secondTextEntryFieldWrapper {
    margin-right: 5px;
    width: 515px;
}
.secondTextEntryField {
    width: 435px;
}

#secondSendBtn {
    border: 0;
    font-size: 1.6vw;
    background-color: #7F1BCE;
    color: white;
    border-radius: 40px;
    padding: 9px 0px;
    width: 120px;
    display: none;
}



@media only screen and (max-width: 1200px) {
    #secondTextEntryFieldWrapper {
        padding: 6px 0px;
    }
    #secondTextEntryField {
        margin-left: 20px;
    }
    #secondSendBtn {
        padding: 8px 0px;
        width: 100px;
    }


    /* Before users typing their emails */
    .secondTextEntryFieldWrapperBefore {
        width: 520px;
    }
    .secondTextEntryFieldBefore {
        width: 480px;
    }

    /* After users typing their emails */
    .secondTextEntryFieldWrapper {
        margin-right: 5px;
        width: 415px;
    }
    .secondTextEntryField {
        width: 375px;
    }
}


@media only screen and (max-width: 900px) {
    #secondTextEntryFieldWrapper {
        padding: 4px 0px;
    }
    #secondTextEntryField {
        margin-left: 20px;
    }
    #secondSendBtn {
        padding: 6px 0px;
        width: 80px;
    }


    /* Before users typing their emails */
    .secondTextEntryFieldWrapperBefore {
        width: 400px;
    }
    .secondTextEntryFieldBefore {
        width: 360px;
    }

    /* After users typing their emails */
    .secondTextEntryFieldWrapper {
        margin-right: 5px;
        width: 315px;
    }
    .secondTextEntryField {
        width: 275px;
    }
}



@media only screen and (max-width: 600px) {
    #secondTextEntryFieldWrapper {
        padding: 3px 0px;
    }
    #secondTextEntryField {
        margin-left: 10px;
    }
    #secondSendBtn {
        padding: 4px 0px;
        width: 60px;
    }


    /* Before users typing their emails */
    .secondTextEntryFieldWrapperBefore {
        width: 300px;
    }
    .secondTextEntryFieldBefore {
        width: 280px;
    }

    /* After users typing their emails */
    .secondTextEntryFieldWrapper {
        margin-right: 5px;
        width: 235px;
    }
    .secondTextEntryField {
        width: 215px;
    }
}










/* Flexbox CSS3 Layout */
.flex-container {
    display: flex;
    justify-content: center;
}


#secondTextEntryFieldWrapper {
    display: flex;
    align-items: center;
}
