#ctaTxtWrapper, #txtIn6     { text-align: center; font-weight: bold; color: white; }
#ctaTxtWrapper p, #txtIn6 p { font-size: 2em; margin: 0; line-height: 1; }
/*
Breakpoints

----------------------------------------------------------------------------- */

/* Extra small devices (phones, less than 768px) */
@media only screen and (max-width: 768px) {
    #ctaTxtWrapper p, #txtIn6 p { font-size: 1.6em; line-height: 1.2; padding: 0 2em; }
}


/* Mobile screen */
@media only screen and (max-width: 480px) {
    #ctaTxtWrapper p, #txtIn6 p { font-size: 1.4em; line-height: 1.2; padding: 0 1.2em; }
}

/*
Cursor Styling
----------------------------------------------------------------------------- */
.firstline::after {
    content: '';
    display: inline-block;
}
